*{
    margin: 0;
    padding: 0;
     font-family: "Lora", serif;
}


body{
    background: #B9BBAE;
}

.card{
    background: #ffffff;
    margin: 50px auto;
    text-align: center;
    max-width: 390px;
    border-radius: 15px;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgb(0,0,0,0.30);
    transition: transform 0.3s, box-shadown 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgb(0,0,0,0.2);
}

main img{
    width:100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

h1{
    margin-top: 25px;
}

p{
    margin-top: 15px;
    color:rgb(66, 64, 64);
    text-align: left;
    margin-left: 25px;
    font-weight: bold;
}

h2{
    margin-top: 15px;
    text-align: left;
    margin-left: 25px;
    color:rgb(180, 54, 54);
}

button {
    margin-top: 25px;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 30px ;
    background: linear-gradient(115deg,#000000, #7f88b1);
    border: none;
    color:#ffffff;
    transition: transform 0.3s, background 0.3s, color 0.3s ;
}

button:hover{
 background: linear-gradient(115deg,#857b7b, #7f88b1);
 color:#000000;
    transform: scale(1.1);    

}
